.digital-hero {
  position: relative;
  background: #0A0B0D !important;
  color: #F2F2F2 !important;
  z-index: 99;
}

#video-container,
.digital-hero {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}



#video-container video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.video-overlay h1,
.video-overlay p {
  color: #F2F2F2 !important;
}

.video-overlay h1 {
  font-size: 2rem;
  font-weight: 700;
}

.video-overlay h1 span,
.video-overlay .digital-cta strong  {
  color: #F2F2F2 !important;
}


.video-overlay .digital-cta strong {
  cursor: pointer;
  font-weight: 400;
}

.video-overlay .digital-cta a {
  position: relative;
  z-index: 100;
  text-decoration: none;
  text-transform: uppercase;
  background: #0D65D9 !important;
  color: #F2F2F2 !important;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  cursor: pointer !important;
}

.video-overlay .digital-cta a:link,
.video-overlay .digital-cta a:visited {
  background: #0D65D9 !important;
  color: #F2F2F2 !important;
}

.video-overlay .digital-cta a:focus,
.video-overlay .digital-cta a:hover,
.video-overlay .digital-cta a:active {
  padding: 0 1rem;
  font-weight: 700;
}


.video-overlay .digital-cta img {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

@media all and (min-width: 568px) {
  .video-overlay h1 {
    font-size: 3rem;
  }

  .video-overlay p {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media all and (min-width: 992px) {
  .video-overlay h1 {
    font-size: 4.5rem;
  }

  .video-overlay p {
    max-width: 60%;
    font-size: 1.3rem;
  }
}

