.UnNormal-page-nav {
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-end;
}

.UnNormal-page-nav .menu-list {
  list-style: none;

}
.UnNormal-page-nav .menu-list .link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0.4rem 2rem;
}


.UnNormal-page-nav .menu-list .link {
  color: #F2F2F2;
}


.UnNormal-page-nav .menu-list .link:link,
.UnNormal-page-nav .menu-list .link:visited {
  color: #F2F2F2;
}

.UnNormal-page-nav .menu-list .link:focus {
  outline: 1px dotted #F2F2F2;
}

.UnNormal-page-nav .menu-list .link:hover {
  font-weight: 700;
}

.UnNormal-page-nav .menu-list .link:active {}

.UnNormal-specialBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav menu toggler */

.UnNormal-page-nav .menu-toggler {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: #F2F2F2;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UnNormal-page-nav .menu-toggler > img {
  width: 20px;
  height: 20px;
  display: block;
}

.UnNormal-page-nav .menu-toggler {
  position: absolute;
  top: 0.5rem;
  z-index: 2000;
}

.UnNormal-page-nav .menu-list {
  list-style: none;
  display: none;
}

.menu-list.open {
  position: fixed;
  z-index: 1000;
  bottom: 0; top: 0;
  right: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: #0a0c0e;
  backdrop-filter: blur(5px);
  color: #F2F2F2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6rem 0;
}

.menu-list.open .link {
  width: 100%;
  font-size: 2rem;
  margin: 0;
  text-align: left;
  font-weight: 700;
}

.menu-list.open .menu-list-wrapper {
  width: 90%;
}

.menu-list.open .UnNormal-specialBtn {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  justify-content: center;
}

.menu-list.open .UnNormal-specialBtn a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}



@media all and (min-width: 998px) {

  .UnNormal-page-nav .menu-list .link {
    display: block;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0.4rem 2rem;
    text-align: center;
  }

  .UnNormal-specialBtn a > img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }


  .UnNormal-page-nav {
    flex: 1 1 70%;
  }

  .UnNormal-page-nav .menu-list {
    width: 100%;
    display: flex;
    margin: 0 auto;
    list-style: none;
  }

  .UnNormal-page-nav .menu-list-wrapper {
    width: 70%;
    flex: 1 1 70%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

  }

  .UnNormal-page-nav .menu-toggler {
    display: none;
  }

  .UnNormal-page-nav .menu-list .link {
    padding: 0 1rem;
  }

  .UnNormal-page-nav .menu-list .UnNormal-specialBtn {
    width: 30%;
    flex: 1 1 30%;
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem;
  }

  .UnNormal-page-nav .menu-list .UnNormal-specialBtn li {

  }
}

