.digital-footer {
  background: #0A0B0D;
  color: #F2F2F2;
}

.digital-footer section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align:center;
  padding: 1rem;
}

@media all and (min-width: 576px) {
  .digital-footer section {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
}

.digital-footer .link {
  color: #F2F2F2;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.85rem;
}

.digital-footer .link:link,
.digital-footer .link:visited {
  color: #F2F2F2;
}

.digital-footer .link:focus,
.digital-footer .link:hover,
.digital-footer .link:active {
  outline: none;
  color: #5C9DF2;
}

.digital-footer h2,
.digital-footer p {
  color: #F2F2F2;
}

.digital-footer h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
}

.digital-footer p {
  font-size: 0.85rem;
  text-transform: capitalize;
}

.digital-footer .map > a {
  font-size: 0.85rem;
}

.digital-footer > .digital-ctn {
  border-top: 1px solid #364559;
}


.digital-footer .social-media {
  display: flex;
  flex-flow: row nowrap;
}

.digital-footer .social-media .link-img > img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.digital-footer .social-media .link-img > img:hover {
  opacity: 1;
}

.digital-copy {
  background: #0B0E12;
}

.digital-copy p small {
  color: #F2F2F2;
}

.digital-copy p  a,
.digital-copy p  a:link,
.digital-copy p  a:visited {
  color: #F2F2F2;
  text-decoration: none;
}

.digital-copy p a:focus,
.digital-copy p a:hover,
.digital-copy p a:active {
  color: #5C9DF2;
}
