@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('./fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('./fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  background: #F2F2F2;
  color: #0A0B0D;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #0A0B0D;
}



